body {
    font: 20px arial, sans-serif;
}

.navbar {
    background-color: #9400d3
}

.quem-somos {
    background-color: #191970;
    color: #fff;

}

.margin {
    padding-top: 50px;
    padding-bottom: 50px;
}

.parceiros {
    background-color: #1F51FF;
    color: #fff;
}